## IGNORE CUSTOMIZER FILE
//sass/kiss/_customiser.scss
style.css
style.css.map

## IGNORE CONFIG/BUILD FILES
sftp-config.json
config.codekit3
!.nova/
!.nova/*
node_modules
package-lock.json
.DS_Store
