/*--------------------------------------------------------------
# Default Bootstrap Colors
--------------------------------------------------------------*/
$white: #fff !default;
$gray-100: #EDF2F4 !default;
$gray-200: #c8c8c8 !default;
$gray-300: #dee2e6 !default;
$gray-400: #969696 !default;
$gray-500: #8D99AE !default;
$gray-600: #646464 !default;
$gray-700: #495057 !default;
$gray-800: #4D4D4D !default;
$gray-900: #2B2D42 !default;
$black: #000 !default;

$blue: #00ffff !default;
$indigo: #6610f2 !default;
$purple: #45003b !default;
$pink: #CC3852 !default;
$red: #D90429 !default;
$orange: #EE6C4D !default;
$yellow: #FAF33E !default;
$green: #00ff00 !default;
$teal: #3EA8A4 !default;
$cyan: #98C1D9 !default;
$magenta: #a4015a !default;
$navy: #002149 !default;
$sky: #E0FBFC !default;
$brown: #D9A848 !default;
$slate: #3D5A80 !default;
$red-2: #EF233C !default;

$theme-colors: (
  primary: $red,
  secondary: $red-2,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-900,
  white: $white
);

// Creates the colors for editor-color-palette
@each $color, $value in $theme-colors {
  .has-#{$color}-background-color {
    background-color: $value;
  }

  .has-#{$color}-color {
    color: $value;
  }
}

$primary:       $red !default;
$secondary:     $red-2 !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$navbar-dark-active-color: $primary;
$navbar-dark-hover-color: $primary;

$brand-primary: $primary;
$brand-secondary: $secondary;
$background-dark: $dark;
$background-light: $light;
$alternate: $gray-500;

$bg-secondary: $secondary;
