/*--------------------------------------------------------------
# Default Bootstrap Colors
--------------------------------------------------------------*/

/// SET DEFAULT COLOR PALETTE
$white: #fff !default;
$gray-100: #EDF2F4 !default;
$gray-200: #c8c8c8 !default;
$gray-300: #dee2e6 !default;
$gray-400: #969696 !default;
$gray-500: #8D99AE !default;
$gray-600: #646464 !default;
$gray-700: #495057 !default;
$gray-800: #4D4D4D !default;
$gray-900: #2B2D42 !default;
$black: #000 !default;

$blue: #00ffff !default;
$indigo: #6610f2 !default;
$purple: #45003b !default;
$pink: #CC3852 !default;
$red: #e51937 !default;
$orange: #EE6C4D !default;
$yellow: #FAF33E !default;
$green: #00ff00 !default;
$teal: #3EA8A4 !default;
$cyan: #98C1D9 !default;
$magenta: #a4015a !default;
$navy: #002149 !default;
$sky: #E0FBFC !default;
$brown: #D9A848 !default;
$slate: #3D5A80 !default;

/// ASSIGN COLOURS TO VARIABLES

$primary: $red !default;
$secondary: #af0d25 !default;
$dark: #313131 !default;
$light: #8f8f8f !default;
$alternate: #0564cb !default;

/// ASSIGN COLOURS TO THEME

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $light,
  dark: $dark,
  white: $white
);

// Creates the colors for editor-color-palette
@each $color, $value in $theme-colors {
  .has-#{$color}-background-color {
    background-color: $value;
  }

  .has-#{$color}-color {
    color: $value;
  }
}

$brand-primary: $primary;
$brand-secondary: $secondary;
$background-dark: $dark;
$background-light: $light;

$bg-secondary: $secondary;
