.site-footer {
	padding: 4rem 0;
    //margin-top: 4rem;
    background-color: $dark;
    .site-info,
    .footer-nav {
	    color: $white;
    }
    h3, h4, p {
	    color: $white;
    }
    .header-fs {
        &-1 {
            h3.widgettitle {
                font-size: 1rem;
            }
        }
        &-2 {
            h3.widgettitle {
                font-size: 1.2rem;
            }
        }
        &-3 {
            h3.widgettitle {
                font-size: 2rem;
            }
        }
        &-4 {
            h3.widgettitle {
                font-size: 3rem;
            }
        }
        &-5 {
            h3.widgettitle {
                font-size: 4rem;
            }
        }
    }  
    ul {
        @include list-unstyled();
    }
}