.cards {
	&-layout {
		&.bg-alternate {
			background-color: $black;
		}
		&.bg-light {
			h2 {
				color: $dark;
			}
		}
		padding: 60px 0;
		h2 {
			color: $light;
			font-weight: $headings-font-weight-light;
		}
		.col-12 {
			@include media-breakpoint-down(sm){
				//margin-bottom: 30px;
			}
		}
	}
	&-card {
		background-color: $gray-900;
		//box-shadow: 0 0 30px rgba($dark, 0.4);
		display: flex;
		height: 100%;
		&__header {
			img {
				width: 100%;
			}
		}
		&__copy {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__content {
			align-items: stretch;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			///padding: 1rem; <- Not sure why that was in there. Inteferes with horizontal cards.
			h3 {
				a {
					transition: 0.3s ease all;
					&:hover {
						text-decoration: none;
					}
				}
			}
			p {		
				margin-bottom: 1.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__momentum {
			.cards-card__content {
				padding: 0;
			}
		}
	}
}