.cards {
	&-layout {
		position: relative;
		overflow: hidden;
		&__bgimage {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			//margin-top: -50%;
			//transform: translateY(50%);	
			img {
				height: 100%;
				width: 100%;
			}
		}
		padding: 60px 0;
		h2 {
			color: $light;
			font-weight: $headings-font-weight-light;
		}
		.col-12 {
			@include media-breakpoint-down(sm){
				//margin-bottom: 30px;
			}
		}
	}
	&-card {
		background-color: $gray-900;
		//box-shadow: 0 0 30px rgba($dark, 0.4);
		display: flex;
		//height: 100%;
		position: relative;
		&__header {
			img {
				width: 100%;
			}
		}
		&__copy {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__content {
			align-items: stretch;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include media-breakpoint-up(md){
				height: 100%;
			}
			///padding: 1rem; <- Not sure why that was in there. Inteferes with horizontal cards.
			h3 {
				a {
					transition: 0.3s ease all;
					&:hover {
						text-decoration: none;
					}
				}
			}
			p {		
				margin-bottom: 1.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__hover {
			.cards-card__image {
				position: relative;
				flex: 0 0 100%;
			}
		}
		&__horizontal {
			align-items: center;
			.cards-card__content {
				justify-content: center;
			}
			.image-box {
				@include media-breakpoint-down(sm){
					margin-bottom: 1rem;
				}
			}
			.cards-card__image {
				@include media-breakpoint-down(sm){
					order: -1;
				}
			}
		}
		&__vertical {
			display: block;
			height: 100%;
			.cards-card__content {
				height: auto;
				padding: 1rem;
			}
		}
		&__momentum {
			.cards-card__content {
				padding: 0;
			}
		}
	}
}