//// HERO HEADER MODULE
/// For large heros on home pages. 
/// Requires hero-header.php mod_custom, hero-header module position in the index.php
/// Use with ModuleStyle None

.hero-header {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&.header_xs {
		@include media-breakpoint-up(xs){
			min-height: 180px;
		}
		@include media-breakpoint-up(sm){
			min-height: 260px;
		}
	}
	&.header_sm {
		@include media-breakpoint-up(xs){
			min-height: 220px;
		}
		@include media-breakpoint-up(sm){
			min-height: 300px;
		}	
		@include media-breakpoint-up(lg){
			min-height: 320px;
		}
		@include media-breakpoint-up(xl){
			min-height: 380px;
		}	
	}
	&.header_md {
		@include media-breakpoint-up(xs){
			min-height: 240px;
		}
		@include media-breakpoint-up(sm){
			min-height: 300px;
		}
		@include media-breakpoint-up(md){
			min-height: 320px;
		}	
		@include media-breakpoint-up(lg){
			min-height: 380px;
		}
		@include media-breakpoint-up(xl){
			min-height: 400px;
		}	
	}
	&.header_lg {
		@include media-breakpoint-up(xs){
			min-height: 260px;
		}
		@include media-breakpoint-up(sm){
			min-height: 340px;
		}
		@include media-breakpoint-up(md){
			min-height: 420px;
		}	
		@include media-breakpoint-up(lg){
			min-height: 480px;
		}
		@include media-breakpoint-up(xl){
			min-height: 560px;
		}	
	}
	&.header_xl {
		@include media-breakpoint-up(xs){
			min-height: 330px;
		}
		@include media-breakpoint-up(sm){
			min-height: 380px;
		}
		@include media-breakpoint-up(md){
			min-height: 460px;
		}	
		@include media-breakpoint-up(lg){
			min-height: 580px;
		}
		@include media-breakpoint-up(xl){
			min-height: 680px;
		}	
	}
	&.full_height {
		min-height: 100vh;
	}
	&__wrap {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		//min-height: 430px;
		overflow: hidden;
		position: relative;
		height: 100%;
		min-height: inherit;
		width: 100%;
		transition: 1s ease-in all;
		@include media-breakpoint-up(xs){
			padding-top: 74px;
		}
		@include media-breakpoint-up(sm){
			padding-top: 74px;
		}
		@include media-breakpoint-up(md){
			padding-top: 78px;
		}
		@include media-breakpoint-up(lg){
			padding-top: 83px;
		}
		@include media-breakpoint-up(xl){
			padding-top: 87px;
		}
		
		.container {
			//align-items: flex-end;
			display: flex;
			justify-content: flex-start;
			position: relative;
		}
		&-inner {
			width: 100%;
			.btn + .btn {
				margin-left: 15px;
			}
		}
		
		.video-hero & {
			display: block;
			min-height: auto;
			.video-background {
				position: relative;
				padding-top: 56.25%;
				width: 100%;
				-webkit-transition: 2s opacity ease;
				transition: 2s opacity ease;
				opacity: 1;
				z-index: 100;
			}
			.video-foreground,
			.video-background iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
			}
			.container {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: 102;
			}
		}
		.video-hero & {
			/// SORT OUT Z-INDEX
			&[class*='overlay'] {
				&:before {
					z-index: 101;
				}
			}
		}
	}
	&__content {
		.text-xs {
			h2 {
				@include font-size(1.2rem);
			}
			h3 {
				@include font-size(1.1rem);
			}
			h4 {
				@include font-size(1rem);
			}
			p {
				@include font-size(0.8rem);
			}
		}
		.text-sm {
			h2 {
				@include font-size(1.8rem);
			}
			h3 {
				@include font-size(1.6rem);
			}
			h4 {
				@include font-size(1.4rem);
			}
			p {
				@include font-size(1.2rem);
			}
		}
		.text-md {
			h2 {
				@include font-size(2.2rem);
			}
			h3 {
				@include font-size(1.8rem);
			}
			h4 {
				@include font-size(1.6rem);
			}
			p {
				@include font-size(1.4rem);
			}
		}
		.text-lg {
			h2 {
				@include font-size(3rem);
			}
			h3 {
				@include font-size(2.5rem);
			}
			h4 {
				@include font-size(2.2rem);
			}
			p {
				@include font-size(2rem);
			}
		}
		.text-xl {
			h2 {
				@include font-size(4rem);
			}
			h3 {
				@include font-size(3rem);
			}
			h4 {
				@include font-size(2.8rem);
			}
			p {
				@include font-size(2.4rem);
			}
		}
	}
	&__separator {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
		
	h1 {
		margin-bottom: 0.5em;
		&.font {
			&-xs {
				@include font-size(1.4rem);
			}
			&-sm {
				@include font-size(2rem);
			}
			&-md {
				@include font-size(2.5rem);
			}
			&-lg {
				@include font-size(3.5rem);
			}
			&-xl {
				@include font-size(5rem);
			}
		}
	}
	
	
	/// ALIGNMENT
	.content-left {
		.container {
			max-width: 1140px;
			justify-content: flex-start;
		}
		.hero-header__wrap-inner {
			max-width: 50%;
			text-align: left;
		}
	}
	.content-right {
		.container {
			max-width: 1140px;
			justify-content: flex-end;
		}
		.hero-header__wrap-inner {
			max-width: 50%;
			text-align: right;
		}
	}
	.content-left,
	.content-right {
		.hero-header__wrap-inner {
			@include media-breakpoint-down(xl) {
				max-width: 50%;
			}
			@include media-breakpoint-down(md) {
				max-width: 75%;
			}
			@include media-breakpoint-down(sm) {
				max-width: 100%;
			}
		}
	}
}

