.tabbed-content {
	padding: 15px 0 30px 0;
	.container {
		max-width: 960px;
	}
	h2 {
		&.text-xl {
			margin: 0 0 3rem;
		}
		&.text-lg {
			margin: 0 0 2rem;
		}
		&.text-md {
			margin: 0 0 1.5rem;
		}
		&.text-sm {
			margin:  0 0 1.3rem;
		}
		&.text-xs {
			margin: 0 0 1rem;
		}
	}
	.btn-actions {
		margin-top: 2rem;
	}
	.nav-tabs {
		.nav-link {
			border: none;
			transition: 0.3s ease all;
			font-family: $headings-font-family;
			text-transform: uppercase;
			transition: 0.3s ease all;
		}
		.nav-link.active,
		.nav-item.show .nav-link {
		}
		.nav-link:hover,
		.nav-link:focus {
		}
		.nav-item {
			margin-right: 2px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.tab-content {
		.tab-pane {
			@include media-breakpoint-down(sm){
				border-radius: 0;
			}
			&.active {
				border-top-left-radius: 0;
			}
		}
		@include media-breakpoint-up(xs){
			padding: 0;
		}
		ul {
			padding-left: 1.1rem;
			li {
				line-height: 1.2rem;
				margin-bottom: 0.3rem;
			}
		}
	}
	&__icon {
		text-align: center;
		width: 100%;
	}
	&__copy {
		.colCount-2 & {
			-webkit-column-count: 2;
		     -moz-column-count: 2;
		          column-count: 2;
		}
		.colCount-3 & {
			-webkit-column-count: 3;
			 -moz-column-count: 3;
				  column-count: 3;
		}
	}
}

.tabbed-content__icon {
	.iconColor-primary & {color: $primary;}
	.iconColor-secondary & {color: $secondary;}
	.iconColor-dark & {color: $dark;}
	.iconColor-light & {color: $light;}
	.iconColor-white & {color: $white;}
	.iconColor-alternate & {color: $alternate;}
	.iconS-xs & {font-size: 3rem;}
	.iconS-sm & {font-size: 5rem;}
	.iconS-md & {font-size: 8rem;}
	.iconS-lg & {font-size: 10rem;}
	.iconS-xl & {font-size: 15rem;}
}

.nav-tabs {
	.nav-link {
		.inActiveBG-primary & {background: $primary;}
		.inActiveBG-secondary & {background: $secondary;}
		.inActiveBG-dark & {background: $dark;}
		.inActiveBG-light & {background: $light;}
		.inActiveBG-white & {background: $white;}
		.inActiveBG-alternate & {background: $alternate;}
		
		.fontInactive-primary & {color: $primary;}
		.fontInactive-secondary & {color: $secondary;}
		.fontInactive-dark & {color: $dark;}
		.fontInactive-light & {color: $light;}
		.fontInactive-white & {color: $white;}
		.fontInactive-alternate & {color: $alternate;}
	}
	.nav-link.active,
	.nav-item.show .nav-link {
		.activeBG-primary & {background: $primary;}
		.activeBG-secondary & {background: $secondary;}
		.activeBG-dark & {background: $dark;}
		.activeBG-light & {background: $light;}
		.activeBG-white & {background: $white;}
		.activeBG-alternate & {background: $alternate;}
		
		.fontActive-primary & {color: $primary;}
		.fontActive-secondary & {color: $secondary;}
		.fontActive-dark & {color: $dark;}
		.fontActive-light & {color: $light;}
		.fontActive-white & {color: $white;}
		.fontActive-alternate & {color: $alternate;}
	}
	.nav-link:hover,
	.nav-link:focus {
	}
}

.card {
	border: none;
	a {
		transition: 0.3s ease all;
		&:hover {
			text-decoration: none;
		}
	}
	&-header {
		border-bottom: 4px solid $dark;
		@include media-breakpoint-down(sm){
			border-radius: 0;
		}
		h4 {
			@include media-breakpoint-up(xs){
				margin: 0.2rem 0;
			}
			.fontActive-white & {
					color: $white;
				}
			.fontActive-dark & {
					color: $dark;
				}
			.fontActive-primary & {
					color: $primary;
				}
			.fontActive-secondary & {
					color: $secondary;
				}
			.fontActive-light & {
					color: $light;
				}
		}
		.collapsed & {
			.fa-chevron-right {
				transform: rotate(90deg);
			}
			.inActiveBG-primary & {
				background-color: $primary;
			}
			.inActiveBG-secondary & {
				background-color: $secondary;
			}
			.inActiveBG-dark & {
				background-color: $dark;
			}
			.inActiveBG-light & {
				background-color: $light;
			}
			.inActiveBG-white & {
				background-color: $white;
			}
			.inActiveBG-alternate & {
				background-color: $alternate;
			}
			h4 {
				.fontInActive-white & {
						color: $white;
					}
				.fontInActive-dark & {
						color: $dark;
					}
				.fontInActive-primary & {
						color: $primary;
					}
				.fontInActive-secondary & {
						color: $secondary;
					}
				.fontInActive-light & {
						color: $light;
					}
			}
		}
		.activeBG-primary & {
			background-color: $primary;
		}
		.activeBG-secondary & {
			background-color: $secondary;
		}
		.activeBG-dark & {
			background-color: $dark;
		}
		.activeBG-light & {
			background-color: $light;
		}
		.activeBG-white & {
			background-color: $white;
		}
		.activeBG-alternate & {
			background-color: $alternate;
		}
	}
	&-body {
		
	}
	[class^="col-"]{
		align-items: center;
		display: flex;
	}
	/// COLOURS
	.activeBG-primary & {background: $primary;}
	.activeBG-secondary & {background: $secondary;}
	.activeBG-dark & {background: $dark;}
	.activeBG-light & {background: $light;}
	.activeBG-white & {background: $white;}
	.activeBG-alternate & {background: $alternate;}
	
	.fontActive-primary & {color: $primary;}
	.fontActive-secondary & {color: $secondary;}
	.fontActive-dark & {color: $dark;}
	.fontActive-light & {color: $light;}
	.fontActive-white & {color: $white;}
	.fontActive-alternate & {color: $alternate;}
	
	/// FONT SIZE
	.cardFontS-xs & {font-size: 0.9rem;}
	.cardFontS-sm & {font-size: 1rem;}
	.cardFontS-md & {font-size: 1.2rem;}
	.cardFontS-lg & {font-size: 2rem;}
	.cardFontS-xl & {font-size: 3rem;}
}

/// TAB FONT SIZES
.tabFontS {
	&-xs {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-size: 0.8rem;
				}
			}
		}
	}
	&-sm {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-size: 0.9rem;
				}
			}
		}
	}
	&-md {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-size: 1.1rem;
				}
			}
		}
	}
	&-lg {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-size: 1.8rem;
					@include media-breakpoint-down(md){
						font-size: 1.4rem;
					}
				}
			}
		}
	}
	&-xl {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-size: 2.5rem;
					@include media-breakpoint-down(md){
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

/// TAB FONT WEIGHTS
.tabFontW {
	&-light {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-weight: $headings-font-weight-light;
				}
			}
		}
	}
	&-normal {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-weight: $headings-font-weight;
				}
			}
		}
	}
	&-bold {
		.tabbed-content & {
			.nav-tabs,
			.tab-content {
				.nav-link,
				.card-header a {
					font-weight: $headings-font-weight-bold;
				}
			}
		}
	}
}
