.video-block {
	&.bg-dark,
	&.bg-secondary,
	&.bg-primary {
		h1, h2, h3, p {
			color: $white;
		}
	}
	&.bg-light {
		h1, h2, h3, p {
			color: $dark;
		}
	}
	.flex-inner {
		padding-bottom: 60px;
	}
}