.post-type-archive {
	.hero-header {
		margin-bottom: 60px;
	}
	.archive-control-area-inside {
		@include make-container();
		max-width: 992px;
		h2 {
			color: $white;
			font-weight: $headings-font-weight-light;
			margin-bottom: 60px;
			text-align: center;
		}
	}
	.site-main {
		.topic {
			margin-bottom: 60px;
			&:nth-child(even){
				.archive-row {
					flex-direction: row-reverse;
				}
			}
		}
	}
}