.case-studies {
	margin: 60px auto;
	.case-study {
		&__client {
			margin-bottom: 5rem;
		}
		&__result {
			p {
				font-weight: light;
				font-size: 1.5rem;
			}
		}
	}
	h3 {
		color: $primary;
	}
	h4 {
		color: darken($primary, 0.2);
		font-size: 1.2rem;
		font-weight: normal;
		text-transform: uppercase;
	}
}