.case-studies {
	margin: 60px auto;
	.case-study {
		&__client {
			margin-bottom: 5rem;
		}
		&__result {
		}
		&__testimonial {
			text-align: center;
			.testimonial-row__item {
				text-align: left;
			}
			.testimonials-list__item {
				padding: 0;
			}
		}
	}
	h3 {
		color: $primary;
	}
	h4 {
		color: darken($primary, 0.2);
		font-size: 1.2rem;
		font-weight: normal;
		text-transform: uppercase;
	}
	.post-list {
		.client-logo {
			padding: 30px;
		}
		h2.entry-title {
			font-weight: bold;
			a {
				color: $primary;
			}
		}
		.entry-content {
			& > p:first-child {
				color: $dark;
				font-size: 1.3rem;
			}
		}
	}
}
