/// GENERAL PADDING SETTINGS
.flexi-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  .paddingUpper-xl & {
    padding-top: 120px;
  }
  .paddingUpper-lg & {
    padding-top: 90px;
  }
  .paddingUpper-md & {
    padding-top: 60px;
  }
  .paddingLower-xl & {
    padding-bottom: 120px;
  }
  .paddingLower-lg & {
    padding-bottom: 90px;
  }
  .paddingLower-md & {
    padding-bottom: 60px;
  }
  /*.hasUpper.upperPaddingDouble & {
		padding-top: 90px;
	}
	.hasUpper.upperDown & {
		padding-top: 90px;
	}
	.hasUpper.upperDown.upperPaddingDouble & {
		padding-top: 120px;
	}
	.hasLower & {
		padding-bottom: 60px;
	}
	.hasLower.lowerPaddingDouble & {
		padding-bottom: 90px;
	}
	.hasLower.lowerUp & {
		padding-bottom: 90px;
	}
	.hasLower.lowerUp.lowerPaddingDouble & {
		padding-bottom: 120px;
	}*/
}

/// EXTRA CONTAINERS
.container {
  &-sm {
    @include make-container();
    width: 920px;
    max-width: 100%;
  }
}

/// GENERAL PAGE HANDLING
.site {
  &-content {
    .noHero & {
      padding-top: 120px;
    }
  }
  &-main {
    padding: 60px 0 0;
  }
}

/// FOOTER HANDLING
.site-info {
  display: flex;
  justify-content: space-between;
  .footer-nav__flat {
    .menu {
      display: flex;
      padding: 0;
      list-style-type: none;
      li.menu-item {
        margin: 0 15px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
