

//// FOOTER
.footer {
	&-nav {
		&__inner {
			@include media-breakpoint-down(md){
				margin-bottom: 30px;
			}
		}
		&__logo {
			padding: 0 10px;
			&:first-child {
				padding-bottom: 30px;
			}
		}
		&__address {
			span {
				//display: block;
			}
		}
		&__row {
			display: flex;
			margin-bottom: 10px;
		}
		&__icon {
			margin-right: 8px;
		}
		&__content {
			a {
				transition: 0.3s ease all;
				.text-light & {
					color: $light;
				}
				.text-primary & {
					color: $primary;
				}
				.text-secondary & {
					color: $secondary;
				}
				.text-dark & {
					color: $dark;
				}
				.text-white & {
					color: $white;
				}
				.text-alternate & {
					color: $alternate;
				}
				&:hover {
					text-decoration: none;
					.text-light & {
						color: darken($light, 20%);
					}
					.text-primary & {
						color: lighten($primary, 20%);
					}
					.text-secondary & {
						color: darken($secondary, 20%);
					}
					.text-dark & {
						color: lighten($dark, 20%);
					}
					.text-white & {
						color: darken($white, 20%);
					}
					.text-alternate & {
						color: darken($alternate, 20%);
					}
				}
				@include media-breakpoint-up(lg){
					font-size: 0.9rem;
				}
				@include media-breakpoint-up(xl){
					font-size: 1rem;
				}
			}
		}
		.menu-item {
			a {
				color: $white;
				font-family: $headings-font-family;
				transition: 0.3s ease all;
				&:hover {
					color: $alternate;
					text-decoration: none;
				}
			}
		}
	}
}

/// SOCIAL ICONS 
.social-block {
	&__inner {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		.page-template-page-growth &,
		.page-optin-thank-you & {
			justify-content: center;
		}
	}
	&__icon {
		margin-right: 8px;
		@include rem(font-size, 26);
		&:last-child {
			margin-right: 0;
		}
		a {
			color: $white;
			transition: 0.3s ease all;
			&:hover {
				color: $alternate;
				text-decoration: none;
			}
		}
	}
}