/// SVG SEPARATORS

section,
article {
	position: relative;
	z-index: 100;
	.section-separator {
		position: absolute;
		width: 100%;
		z-index: 101;
		&__upper {
			top: 0;
		}
		&__lower {
			bottom: 0;
		}
	}
}

.hasSeparatorUpper {
	.hasBgImg,
	.editable-content__inner,
	section {
		//padding-top: 90px;
	}
	.section-separator__upper {
		&.direction-up,
		&.directionXup {
			svg {
				vertical-align: bottom;
				margin-bottom: -1px;
			}
		}
		&.direction-down,
		&.directionXdown {
			svg {
				vertical-align: top;
				margin-top: -1px;
			}
		}
		&.directionXup.directionYnone {
			svg {
				transform: none;
			}
		}
		&.directionXdown.directionYnone {
			svg {
				transform: rotateX(180deg);
			}
		}
		&.directionXup.directionYflip {
			svg {
				transform: rotateY(180deg);
			}
		}
		&.directionXdown.directionYflip {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}
.hasSeparatorLower {
	.hasBgImg,
	.editable-content__inner,
	section {
		//padding-bottom: 90px;
	}
	.section-separator__lower{
		&.direction-up,
		&.directionXup {
			svg {
				vertical-align: bottom;
				margin-bottom: -1px;
			}
		}
		&.direction-down,
		&.directionXdown {
			svg {
				vertical-align: top;
				margin-top: -1px;
			}
		}
		&.directionXup.directionYnone {
			svg {
				transform: none;
			}
		}
		&.directionXdown.directionYnone {
			svg {
				transform: rotateX(180deg);
			}
		}
		&.directionXup.directionYflip {
			svg {
				transform: rotateY(180deg);
			}
		}
		&.directionXdown.directionYflip {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.flexi-inner {
	
}

.separator-fill {
	fill: $primary;
	&__foreground {
		fill: $primary;
		.fg-primary & {
			fill: $primary;
		}
		.fg-secondary & {
			fill: $secondary;
		}
		.fg-dark & {
			fill: $dark;
		}
		.fg-light & {
			fill: $light;
		}
		.fg-white & {
			fill: $white;
		}
		.fg-alternate & {
			fill: $alternate;
		}
	}
	&__background {
		fill: darken($primary, 20%);
		.shadow-primary & {
			fill: $primary;
		}
		.shadow-secondary & {
			fill: $secondary;
		}
		.shadow-dark & {
			fill: $dark;
		}
		.shadow-light & {
			fill: $light
		}
		.shadow-white & {
			fill: $white;
		}
		.shadow-alternate & {
			fill: $alternate;
		}
	}
}

/// SET PADDING OVERRIDES
.pb {
	&-pc {
		&_2 {
			padding-bottom: 2% !important;
		}
		&_5 {
			padding-bottom: 5% !important;
		}
		&_7 {
			padding-bottom: 7% !important;
		}
		&_10 {
			padding-bottom: 10% !important;
		}
		&_12 {
			padding-bottom: 12% !important;
		}
		&_15 {
			padding-bottom: 15% !important;
		}
	}
} 
.pt {
	&-pc {
		&_2 {
			padding-top: 2% !important;
		}
		&_5 {
			padding-top: 5% !important;
		}
		&_7 {
			padding-top: 7% !important;
		}
		&_10 {
			padding-top: 10% !important;
		}
		&_12 {
			padding-top: 12% !important;
		}
		&_15 {
			padding-top: 15% !important;
		}
	}
}