//// GENERAL STYLES

.site {
  /*padding-top: 85px;
  @include media-breakpoint-up(xs){
    padding-top: 63px;
  }
  @include media-breakpoint-up(sm){
    padding-top: 71px;
  }
  @include media-breakpoint-up(md){
    padding-top: 84px;
  }
  @include media-breakpoint-up(lg){
    padding-top: 85px;
  }*/
}

/// Control content area margins
.content-area + .cta {
  margin-top: 5rem;
}

.pagination {
  padding-bottom: 30px;
}

/// COLOURS
.bg {
  &-black {
    background-color: $black;
    color: $gray-200;
    h2 {
      color: $white;
    }
    h3 {
      color: $primary;
      font-weight: $headings-font-weight-bold;
    }
  }
}

/// FONTS

.navbar-brand {
  @include media-breakpoint-up(xs) {
    max-width: 180px;
  }
  @include media-breakpoint-up(sm) {
    max-width: 220px;
  }
  @include media-breakpoint-up(md) {
    max-width: 280px;
  }
  .navbar-dark & {
    a {
      color: $white;
      font-family: $headings-font-family;
      font-weight: 700;
    }
  }
}

.text-xs {
  h1 {
    @include font-size(1.4rem);
  }
  h2 {
    @include font-size(1.2rem);
  }
  h3 {
    @include font-size(1.1rem);
  }
  h4 {
    @include font-size(1rem);
  }
  p, li {
    @include font-size(1rem);
  }
  i.fa,
  i.fas,
  i.fab,
  i.far,
  i.fad,
  i.fal {
    @include font-size(1.4rem);
  }
}
.text-sm {
  h1 {
    @include font-size(2rem);
  }
  h2 {
    @include font-size(1.8rem);
  }
  h3 {
    @include font-size(1.6rem);
  }
  h4 {
    @include font-size(1.4rem);
  }
  p, li {
    @include font-size(1.2rem);
  }
  i.fa,
  i.fas,
  i.fab,
  i.far,
  i.fad,
  i.fal {
    @include font-size(2rem);
  }
}
.text-md {
  h1 {
    @include font-size(2.5rem);
  }
  h2 {
    @include font-size(2.2rem);
  }
  h3 {
    @include font-size(1.8rem);
  }
  h4 {
    @include font-size(1.6rem);
  }
  p, li {
    @include font-size(1.4rem);
  }
  i.fa,
  i.fas,
  i.fab,
  i.far,
  i.fad,
  i.fal {
    @include font-size(2.5rem);
  }
}
.text-lg {
  h1 {
    @include font-size(3.5rem);
  }
  h2 {
    @include font-size(3rem);
  }
  h3 {
    @include font-size(2.5rem);
  }
  h4 {
    @include font-size(2.2rem);
  }
  p, li {
    @include font-size(1.8rem);
  }
  i.fa,
  i.fas,
  i.fab,
  i.far,
  i.fad,
  i.fal {
    @include font-size(3.5rem);
  }
}
.text-xl {
  h1 {
    @include font-size(5rem);
  }
  h2 {
    @include font-size(4rem);
  }
  h3 {
    @include font-size(3rem);
  }
  h4 {
    @include font-size(2.8rem);
  }
  p, li {
    @include font-size(2.2rem);
  }
  i.fa,
  i.fas,
  i.fab,
  i.far,
  i.fad,
  i.fal {
    @include font-size(5rem);
  }
}

h2 {
  &.text-xs {
    @include font-size(1.2rem);
  }
  &.text-sm {
    @include font-size(1.8rem);
  }
  &.text-md {
    @include font-size(2.2rem);
  }
  &.text-lg {
    @include font-size(3rem);
  }
  &.text-xl {
    @include font-size(4rem);
  }
}

h3 {
  &.text-xs {
    @include font-size(1.1rem);
  }
  &.text-sm {
    @include font-size(1.6rem);
  }
  &.text-md {
    @include font-size(1.8rem);
  }
  &.text-lg {
    @include font-size(2.5rem);
  }
  &.text-xl {
    @include font-size(3rem);
  }
}

//// MIXINS
// input pixel value unitless: 8 vs 8px
// ex. @include rem(padding, 8 12 16 24)

// Global Vars

$basefontsize: 16 !default;

@mixin rem($property, $px: $basefontsize) {
  $pxvalues: null;
  $remvalues: null;

  @each $pxvalue in $px {
    $pxvalues: append($pxvalues, ($pxvalue) + px);
    $remvalues: append($remvalues, ($pxvalue/$basefontsize) + rem);
  }

  #{$property}: $pxvalues;
  #{$property}: $remvalues;
}

/// DEFAULT MARGINS
.m {
  &-v {
    &__xs {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    &__sm {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &__md {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__lg {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    &__xl {
      margin-top: 90px;
      margin-bottom: 90px;
    }
  }
  &-t {
    &__xs {
      margin-top: 8px;
    }
    &__sm {
      margin-top: 15px;
    }
    &__md {
      margin-top: 30px;
    }
    &__lg {
      margin-top: 60px;
    }
    &__xl {
      margin-top: 90px;
    }
  }
  &-b {
    &__xs {
      margin-bottom: 8px;
    }
    &__sm {
      margin-bottom: 15px;
    }
    &__md {
      margin-bottom: 30px;
    }
    &__lg {
      margin-bottom: 60px;
    }
    &__xl {
      margin-bottom: 90px;
    }
  }
}

//// SEPARATOR COLOURS
.fill {
  &-body {
    fill: $white;
  }
  &-border {
    fill: $light;
  }
}

/// FIXING STUPID EVEREST BUTTONS
.everest-forms .everest-forms-part-button,
.everest-forms button[type="submit"],
.everest-forms input[type="submit"] {
  &.btn-primary {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
    &:hover {
      color: $white;
      background-color: lighten($brand-primary, 10%);
      border-color: lighten($brand-primary, 10%);
    }
  }
  &.btn-success {
    color: $white;
    background-color: $green;
    border-color: $green;
    &:hover {
      color: $white;
      background-color: darken($green, 10%);
      border-color: darken($green, 10%);
    }
  }
}

/// FIX TABS ON MOBILE TO MAKE ACCORDION
.nav-tabs {
  display: none;
}

@include media-breakpoint-up(md) {
  .nav-tabs {
    display: flex;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display: none;
  }

  .card .collapse {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .tab-content > .tab-pane {
    display: block !important;
    opacity: 1;
  }
}


/// SETUP STANDARD IMAGE BLOCKS {
.image-box {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //box-shadow: 6px 6px 0 $dark;
  position: relative;
  &__content {
    position: relative;
    z-index: 100;
    h4 {
      @include font-size(1.3rem);
      margin-bottom: 0;
    }
  }
  &__inner {
    align-items: center;
    cursor: hand;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 0;
    transition: 0.3s ease all;
    width: 100%;
    &-overlay {
      transition: 0.3s ease all;
    }
    &-icon {
      bottom: 0;
      right: 0;
      z-index: 50;
      transition: 0.3s ease all;
    }
    &.hasOverlay {
      &:hover {
        &:before {
          background-color: transparent;
        }
        .image-box__inner-overlay {
          opacity: 100;
          &.hover {
            &-primary {
              background-color: $primary !important;
            }
            &-secondary {
              background-color: $secondary !important;
            }
            &-dark {
              background-color: $dark !important;
            }
            &-light {
              background-color: $light !important;
            }
            &-white {
              background-color: $white !important;
            }
            &-alternate {
              background-color: $alternate !important;
            }
          }
        }
      }
    }
    span {
      position: relative;
      z-index: 100;
    }
  }
  &.hasOverlay {
    .image-box__inner-overlay {
      transition: 0.3s ease all;
      &.overlay {
        &-primary {
          background-color: $primary;
        }
        &-secondary {
          background-color: $secondary;
        }
        &-dark {
          background-color: $dark;
        }
        &-light {
          background-color: $light;
        }
        &-white {
          background-color: $white;
        }
        &-alternate {
          background-color: $alternate;
        }
      }
    }
  }
  .style-square &,
  &.style-square {
    padding-bottom: 100%;
  }
  .style-widescreen &,
  &.style-widescreen {
    padding-bottom: 56.25%;
  }
  .style-traditional &,
  &.style-traditional {
    padding-bottom: 75%;
  }
  .style-narrow &,
  &.style-narrow {
    padding-bottom: 35%;
  }
}

/// SVG FILLS
.fill-primary {
  fill: $primary;
}
.fill-secondary {
  fill: $secondary;
}
.fill-dark {
  fill: $dark;
}
.fill-white {
  fill: $white;
}
.fill-light {
  fill: $light;
}
.fill-alternate {
  fill: $alternate;
}

.fill-none {
  fill: none;
}

.stroke {
  &-primary {
    stroke: $primary;
  }
  &-secondary {
    stroke: $secondary;
  }
  &-dark {
    stroke: $dark;
  }
  &-light {
    stroke: $light;
  }
  &-white {
    stroke: $white;
  }
  &-alternate {
    stroke: $alternate;
  }
  &-none {
    stroke: none;
  }
}

/// OPACITIES
.opacity {
  &-95 {
    opacity: 0.95;
  }
  &-90 {
    opacity: 0.90;
  }
  &-85 {
    opacity: 0.85;
  }
  &-80 {
    opacity: 0.8;
  }
  &-75 {
    opacity: 0.75;
  }
  &-70 {
    opacity: 0.70;
  }
  &-65 {
    opacity: 0.65;
  }
  &-60 {
    opacity: 0.60;
  }
  &-55 {
    opacity: 0.55;
  }
  &-50 {
    opacity: 0.5;
  }
  &-45 {
    opacity: 0.45;
  }
  &-40 {
    opacity: 0.40;
  }
  &-35 {
    opacity: 0.35;
  }
  &-30 {
    opacity: 0.30;
  }
  &-25 {
    opacity: 0.25;
  }
  &-20 {
    opacity: 0.20;
  }
  &-15 {
    opacity: 0.15;
  }
  &-10 {
    opacity: 0.10;
  }
  &-05 {
    opacity: 0.05;
  }
}

/// DARKENING HEROS
@mixin hero-darken($property) {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($background-dark, $property);
}

@mixin hero-lighten($property) {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, $property);
}

@mixin hero-primary($property) {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($brand-primary, $property);
}

/// ADDITIONAL RESPONSIVE SIZES

.w {
  &-lg {
    &-25 {
      @include media-breakpoint-up(lg){
        max-width: 25%;
      }
    }
    &-50 {
      @include media-breakpoint-up(lg){
        max-width: 50%;
      }
    }
    &-75 {
      @include media-breakpoint-up(lg){
        max-width: 75%;
      }
    }
    &-100 {
      @include media-breakpoint-up(lg){
        max-width: 100%;
      }
    }
  }
}

//// HAMBURGER NAV
.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  &-icon {
    width: 50px;
  }
  .line {
    fill: none;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    &-1 {
      stroke-dasharray: 60 207;
      
    }
    &-2 {
      stroke-dasharray: 60 60;
    }
    &-3 {
      stroke-dasharray: 60 207;
    }
    .navbar.text-primary & {
      stroke: $primary;
    }
    .navbar.text-secondary & {
      stroke: $secondary;
    }
    .navbar.text-dark & {
      stroke: $dark;
    }
    .navbar.text-light & {
      stroke: $light;
    }
    .navbar.text-white & {
      stroke: $white;
    }
    .navbar.text-alternate & {
      stroke: $alternate;
    }
  }
  &.opened {
    .line {
      stroke-width: 6;
      &-1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
      }
      &-2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
      &-3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
      }
    }
  }
}

//// BLOG PAGES
body.blog {
  .type-post {
    .post-list {
      h2.entry-title {
        font-size: 1.4rem;
      }
      .entry-content {
        p,
        p:first-child {
          color: $light;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.single-post {
  .content-area .container {
    max-width: 580px;
  }
  .entry-content {
    p {
      color: $gray-200;
    }
    &__date {
      color: $gray-600;
      text-transform: uppercase;
    }
    p#breadcrumbs {
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }
  }
}

/// HERO HEADER ADJUSTMENTS
.hero-header {
  &__wrap {
    h3 {
      color: $white;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1.6rem;
    }
  }
}

p strong {
  font-weight: $font-weight-bold;
}

/// ICONS & IMAGES IN ROWS WITH PADDING
.social-icons,
.client-logos {
  .d-flex {
    div:first-child {
      padding-left: 0 !important;
    }
    div:last-child {
      padding-right: 0 !important;
    }
  }
}

span.wpcf7-list-item {
  margin: 0.2em 0;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: $secondary;
  background-color: $secondary;
  color: $dark;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  background-color: $red; 
  border: 1px $red solid;
  color: $white;
  padding: 1rem;
}

.happyforms {
  &-form {
    &__title {
      
    }
  }
}


.list-icons {
  &.list-reduce-height {
    .list-icons__main .list-icons__row {
      padding: 10px 30px;
    }
  }
}

/// ICON SIZES
.icon {
  &-xs {
    font-size: 1rem;
  }
  &-sm {
    font-size: 2rem;
  }
  &-md {
    font-size: 3rem;
  }
  &-lg {
    font-size: 4rem;
  }
  &-xl {
    font-size: 5rem;
  }
}
