/// FIX FONTS IN LOGO
.navbar {
	&-brand {
		padding: 0.5rem 0;
		svg {
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-light;
		}
	}
	&-nav {
		width: 100%;
		justify-content: space-between;
	}
	&.navbar-compound {
		padding: 0;
		@include media-breakpoint-up(lg){
			padding: 0.5rem 1rem;
		}
	}
}

#main-nav.text-primary .navbar-nav .nav-link:hover {
	color: $white !important;
}

.nav-compound {
	background-color: $dark;
	a.text-primary:focus,
	a.text-primary:hover {
		color: $white !important;
	}
	.btn-custom {
		@include media-breakpoint-down(xs){
			font-size: 0.7rem !important;
			padding: 0.5rem !important;
		}
	}
}

.best-prac-logos {
	max-width: 80px;
}

/// FORMS
#happyforms_widget-2 {
	background-color: #00aac3;
	h3 {
		text-align: center;
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-weight: $font-weight-light;
	}
}
.happyforms-form {
	max-width: 1140px !important;
	width: 100%;
	margin: 0 auto;
}

.happyforms-flex {
	justify-content: center;
}

/// Font adjustment for footer
#block-3 {
	p {
		font-size: 0.8rem;
	}
}

/// CLIENT LOGOS
.logos-icons {
	padding: 2rem 0;
	width: 1140px;
	@include make-container();
	.client-logos {
		margin: 0 auto;
		text-align: center;
		& > .d-flex.align-items-center {
			@include make-row();
		}
		&__icon {
			@include make-col-ready();
			@include media-breakpoint-up(xs) {
				@include make-col(6);
			}
			@include media-breakpoint-up(lg) {
				@include make-col(4);
			}
		}
	}
	.client-accreditations {
		h3 {
			text-align: center;
		}
	}
}